@model Motionless.Deployment.Admin.Models.ProductViewModel
<script type="text/javascript">
	
</script>

<fieldset>
	<legend>Product <button type="submit" class="btn btn-primary pull-right">Create</button></legend>
	@if (!ViewData.ModelState.IsValid)
 {@Html.ValidationSummary(null, new { @class = "alert alert-error" })}

	@Html.HiddenFor(m => m.Id)
	<div class="control-group">
		@Html.LabelFor(model => model.Name, new { @class = "control-label" })

		<div class="controls">
			@Html.EditorFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</div>
	</div>
	<div class="control-group">
		@Html.LabelFor(model => model.IsDeleted, new { @class = "control-label" })

		<div class="controls">
			@Html.EditorFor(model => model.IsDeleted)
			@Html.ValidationMessageFor(model => model.IsDeleted)
		</div>
	</div>
	<div class="control-group">
		@Html.LabelFor(model => model.CreatedAt, new { @class = "control-label" })

		<div class="controls">
			@Html.DisplayFor(model => model.CreatedAt)
			@Html.ValidationMessageFor(model => model.CreatedAt)
		</div>
	</div>
	<div class="control-group">
		@Html.LabelFor(model => model.UpdatedAt, new { @class = "control-label" })

		<div class="controls">
			@Html.DisplayFor(model => model.UpdatedAt)
			@Html.ValidationMessageFor(model => model.UpdatedAt)
		</div>
	</div>

	@if (Model.Environments.Any())
 {
		<div class="control-group">
			<h4>Environments</h4>
			<table class="table table-striped">
				<tr>
					<th>Name</th>
					<th>Edit</th>
				</tr>
				@foreach (var environment in Model.Environments)
	{
					<tr>
						<td>@Html.DisplayFor(m => environment.Name)</td>
						<td>@Html.ActionLink("Edit", "Edit", "Environment", new { Id = environment.Id }, new { @class = "btn btn-small" })</td>
					</tr>
	}
			</table>
		</div>
 }
	
	@if (Model.PackageConfigurations.Any())
 {
		<h4>Package Configurations</h4>
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Edit</th>
			</tr>
			@foreach (var packageConfiguration in Model.PackageConfigurations)
   {
				<tr>
					<td>@Html.DisplayFor(m => packageConfiguration.Name)</td>
					<td>@Html.ActionLink("Edit", "Edit", "PackageConfiguration", new { Id = packageConfiguration.Id }, new { @class = "btn btn-small" })</td>
				</tr>
   }
		</table>
 }

	@if (Model.Packages.Any())
 {
		<h4>Packages</h4>
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th>Edit</th>
			</tr>
			@foreach (var package in Model.Packages)
   {
				<tr>
					<td>@Html.DisplayFor(m => package.Name)</td>
					<td>@Html.ActionLink("Edit", "Edit", "Package", new { Id = package.Id }, new { @class = "btn btn-small" })</td>
				</tr>
   }
		</table>
 }
	<hr />
	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn btn-primary pull-right">Create</button>
		</div>
	</div>

</fieldset>
