@model Motionless.Deployment.Admin.Models.WebsiteViewModel
<fieldset>
	<legend>Website</legend>
	@if (!ViewData.ModelState.IsValid)
	{@Html.ValidationSummary(null, new { @class = "alert alert-error" })}
	@Html.Partial("EditorTemplates/BaseObject", Model)
	<div class="control-group">
		@Html.LabelFor(model => model.Name, new { @class = "control-label" })

		<div class="controls">
			@Html.EditorFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</div>
	</div>
	<div class="control-group">
		@Html.LabelFor(model => model.PhysicalPath, new { @class = "control-label" })

		<div class="controls">
			@Html.EditorFor(model => model.PhysicalPath)
			@Html.ValidationMessageFor(model => model.PhysicalPath)
		</div>
	</div>
	<div class="control-group">
		@Html.LabelFor(model => model.PackageConfiguration, new { @class = "control-label" })

		<div class="controls">
			@Html.DropDownListFor(model => model.SelectedPackageConfigurationId, Model.PackageConfigurationsSelectList )
			@Html.ValidationMessageFor(model => model.PackageConfiguration)
		</div>
	</div>

	@Html.EditorFor(model => model.ApplicationPool)
	
	@if (Model.Bindings != null && Model.Bindings.Any())
 {
		<h4>Servers</h4>
		<table class="table table-striped">
			<tr>
				<th>Name</th>
				<th class="span1">Edit</th>
			</tr>
			@foreach (var binding in Model.Bindings)
   {
				<tr>
					<td>@Html.DisplayFor(m => binding.Hostname)</td>
					<td class="span1">@Html.ActionLink("Edit", "Edit", "Binding", new { Id = binding.Id }, new { @class = "btn btn-small" })</td>
				</tr>
   }
		</table>
 }


	<div class="control-group">
		<div class="controls">
			<button type="submit" class="btn">Create</button>
		</div>
	</div>

</fieldset>
